.footer-box{
    border: 2px dotted olivedrab;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(124, 101, 43);
    text-align: center;
}